<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/workflow_system?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">shp981998</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="Workflow"/>
        <mapping class="Event"/>
        <mapping class="User"/>
        <mapping class="Designer"/>
    </session-factory>

</hibernate-configuration>
